  <header class="bg-success text-center mb-4 p-2"><h1><strong>Post cards</strong></h1></header>
  <div class="row">
    <div class="col-md-4 mb-2" *ngFor="let post of postarray">
        <div class="card h-100">
            <div class="card-header">
                {{post.title}}
            </div>
            <div class="card-body">
                <p>
                    {{post.body}}
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-info">Edit</button>
                <button class="btn btn-sm btn-danger">remove</button>

            </div>
        </div>
    </div>
  </div>