 
<div class="row bg">
    <div class="col-md-4 mb-2" *ngFor="let movies of moviesArray">
        <div class="card">
            <figure class="moviesCArd">

                <img src="https://image.tmdb.org/t/p/w500/{{movies.backdrop_path}}" 
                alt=" "
                />

                <figcaption>
                    <div class="titleinfo">
                        <div class="row">
                            <div class="col-10">
                                <h5 class=" ">
                                    {{movies.title || movies.original_title}} 
                                </h5>
                            </div>
                            <div class="col-2 text-center">
                                <span  class="text-white"
                                [ngClass]="{
                                    'bg-success' : movies.vote_average >= 7,
                                    'bg-warning' : movies.vote_average < 7 && movies.vote_average >=5,
                                    'bg-danger' : movies.vote_average < 5
                                }" 
                                class="py-2 px-2">
                              
                                  {{movies.vote_average}}
                                </span>             
                            </div>
                        </div>
                    </div>
                     <div class="overview">
                                <h5>
                                    {{movies.title || movies.original_title}}  
                                </h5>
                                <p class="mb-0">
                                    {{movies.overview}}
                                </p>
                            </div>
                </figcaption>
            </figure>
        </div>
    </div>
 </div>
